
GIG_ENABLED=true
GIG_API_BASE_URL=[https://dev-thirdpartynode.theagilitysystems.com](https://dev-thirdpartynode.theagilitysystems.com)
GIG_API_USERNAME=gigtestsystems@gmail.com
GIG_API_PASSWORD=GiGL1324@!
GIG_SENDER_NAME=Top100 Africa Future Leaders
GIG_SENDER_PHONE=+2348169400427
GIG_SENDER_ADDRESS=2 Okota Road, Beside Zenith Bank, By Cele Bus Stop, Lagos
GIG_SENDER_CITY=Lagos
GIG_SENDER_STATION_ID=4
GIG_SENDER_LATITUDE=6.529800
GIG_SENDER_LONGITUDE=3.314500
GIG_RECEIVER_STATION_ID=
GIG_RECEIVER_STATION_MAP_JSON={}
GIG_VEHICLE_TYPE=1
GIG_CUSTOMER_TYPE=0
GIG_PICKUP_OPTION=0
GIG_DELIVERY_OPTION_ID=0
GIG_ITEM_NAME=Award plaque
GIG_ITEM_DESCRIPTION=Top100 Africa Future Leaders award
GIG_ITEM_WEIGHT_KG=1
GIG_ITEM_QUANTITY=1
GIG_ITEM_VALUE_NAIRA=0
GIG_SHIPMENT_TYPE=1
GIG_GEOCODE_ENABLED=true
GIG_EXPECTED_CURRENCY=NGN
